<div class="col-xs-4 col-md-2">
	<div class="thumbnail">
		<div class="category_box">
			<div>
				<h2 class="">カテゴリー</h2>
			</div>
			<div>
				<nav>
					<ul>
					<% categories.each do |c|%>
						<li>
							<%= link_to category_path(c) do %>
								<% if c.products.count > 0 %>
									<%= c.category_name %>(<%= c.products.count %>)
								<% end %>
							<% end %>
						</li>
					<% end %>
					</ul>
				</nav>
			</div>
			<div>
				<h2>アーティスト</h2>
			</div>
			<div>
				<nav>
					<ul>
					<% artists.each do |a|%>
						<li>
							<%= link_to artist_path(a) do %>
								<% if a.products.count > 0 %>
									<%= a.artist_name %>(<%= a.products.count %>)
								<% end %>
							<% end %>
						</li>
					<% end %>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>