<headunder class="navbar">
  <div class="container">
    <div class="row">
      <%= render 'top/category', artists: @artists, categories: @categories, animes: @animes %>
    </div>
  </div>
</headunder>
  <div class="bg-image2">
  <div class = "bg-mask2">
<div class="container" style="background-color: white;" >
  <h3>全商品一覧</h3>
  <div class="row">

      <% @products.each do |product| %>
      <div class="col-xs-3">
      <div class="thumbnail">
            <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag product, :image, size: '100x100' %>
            <% end %>
          <div class="caption" >
             <p> <%= link_to product_path(product.id) do %>
              <%= truncate(product.title, length: 10) %>
              <% end %>
            </p>

            <p>
              <% product.categories.each do |cate| %>
              <%= link_to category_path(cate.id) do  %>
              <%= cate.category_name %>
              <% end %>
              <% end %>
            </p>

            <p>
              <%= link_to product.artist.artist_name, artist_path(product.artist) %>
            </p>

            <p>
             ¥<%= product.price %>
           </p>

           <p>
            <% if product.stock == 0 then %>
            <p>在庫なし</p>
            <% else %>
            <p>在庫あり</p>
            <% end %>
          </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

<div class="container">
  <div class="row" style= "text-align: center;" >
  <%= paginate @products, class: "pagenate" %>
  
</div>
</div>
</div>
</div>

