<% @productfind.each do |seach| %>
<div class = "item" >
    <div class = "product-image" >
        <%= link_to product_path(seach) do %>
          <%= attachment_image_tag seach, :image %>
        <% end %>
    </div>
    <div class = "product-info" >
    </div>
      <ul>
        <li>
          <%= seach.title%>
        </li>
        <li>
          <%= seach.artist.artist_name %>
        </li>
        <li>
          ¥<%= seach.price %>
        </li>
        <li>
          <% if seach.stock == 0 then %>
          <p>在庫なし</p>
            <% else %>
          <p>在庫あり</p>
            <% end %>
        </li>
      </ul>
  </div>
<% end %>