<% @productfind.each do |search| %>
<div class = "item" >
    <div class = "product-image" >
        <%= link_to product_path(search) do %>
          <%= attachment_image_tag @product, :image, fallback: "no_image.jpg", size: '300x300' %>
        <% end %>
    </div>
    <div class = "product-info" >
    </div>
      <ul>
        <li>
          <%= search.title%>
        </li>
        <li>
          <%= search.artist.artist_name %>
        </li>
        <li>
          ¥<%= search.price %>
        </li>
        <li>
          <% if search.stock == 0 then %>
          <p>在庫なし</p>
            <% else %>
          <p>在庫あり</p>
            <% end %>
        </li>
      </ul>
  </div>
<% end %>