<div class="navbar" style="background-color:  #F3FFD8;">
  <div class="container">
    <div class="row">
      <%= render 'top/category', artists: @artists, categories: @categories, animes: @animes %>
    </div>
  </div>
</div>
<div class="bg-image2">
  <div class = "bg-mask2">

    <div class = "container" style="background-color: white;" >
      <div class = "row" >

        <div class="col-lg-4" >
          <div class="product_image">
            <%= attachment_image_tag @product, :image %>
          </div>
        </div>

        <div class="col-lg-8">
          <table class="table" >
            <tr >
              <th><p>商品概要</p></th>
              <th></th>
            </tr>
            <tr>
             <td><p>カテゴリー</p></td>
             <td>
              <% @product.categories.each do |product| %>
              <%= link_to category_path(@product.category_ids) do  %>
              <%= product.category_name %>
              <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><P>アーティスト</P></td>
            <td>
              <%= link_to artist_path(@product.artist.id) do %>
              <%= @product.artist.artist_name %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td><p>シングル・アルバム名</p></td>
            <td>
              <%= @product.title %>
            </td>
          </tr>
          <tr>
            <td><p>レーベル名</p></td>
            <td>
              <%= @product.label %>
            </td>
          </tr>
          <tr>
            <td><p>発売日</p></td>
            <td>
              <%= @product.release %>
            </td>
          </tr>
          <tr>
            <td><p>値段</p></td>
            <td>
              <%= @product.price %>
            </td>
          </tr>
          <tr>
            <td><p>在庫数</p></td>
            <td>
              <% if current_admin %>
              <%= @product.stock %>
              <% elsif @product.stock <= 0 then %>
              <p>在庫なし</p>
              <% else %>
              <p>在庫あり</p>
              <% end %>
            </td>
          </tr>
          <tr>
            <td><p>お気に入り</p></td>
            <td>
              <%if current_user %>
              <% if @product.favorited_by?(current_user) %>
              <%= link_to product_favorites_path(@product), method: :delete, class: "glyphicon btn btn-danger" do %>
              <span class="glyphicon-star"></span>
              <% end %>
              <% else %>
              <%= link_to product_favorites_path(@product), method: :post, class: "glyphicon btn btn-default" do %>
              <span class="glyphicon-star-empty"></span>
              <% end %>
              <% end %>
              <%end%>
            </td>
          </tr>
        </table>

        <% if current_user %>
        <%= form_for(@product, url: cart_add_item_path(@product.id), html: {method: "post"}) do |f| %>
        <p>購入個数:</p>
        <%= f.number_field :stock, required:true, min:'1', max:'product.stock', :value => "1"  %>
        <%= f.submit "カートに入れる", class:"btn btn-info" %>

        <% end %>
        <% end %>
      </div>
    </div>
  </div>



  <div class = "container" style="background-color: white;" >
    <div class="col-xs-offset-1 col-xs-10" >
      <div class ="row">

        <table class="table" >
          <thead>
            <tr >
              <th>
                <p>収録曲</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <% @discs.each do |disc| %>
                <ul>
                  <li class="disc_name">
                    <%= disc.disc_name %>
                  </li>
                </ul>
                <% disc.tracks.each do |track| %>
                <li>
                  <%= track.music %>
                </li>
                <% end %>
                <br>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table" >
          <tr>
            <th>
              <p>商品紹介</p>
            </th>
            <tr>
              <td>
                <%= @product.introduction %>
              </td>
            </tr>
          </table>

          <% if current_user %>
          <div class ="review" style = "padding-top: 30px;" >
            <strong>レビュー</strong>
            <%= form_for [@product, @review] do |f| %>
            <%= f.text_area :text, rows:'5', :size=>"60" ,placeholder: "コメントをここに" %>
            <%= f.submit "送信する", class:"btn btn-info" %>
            <% end %>
            <% end %>

            <table class="table" >
             <% @product.reviews.each do |review| %>
             <tr>
              <td>
                <%= review.created_at.strftime('%Y/%m/%d') %>
                <%= review.text %>
              </td>

              <td>
                <% if review.user == current_user || current_admin %>
                <%= link_to "削除", product_review_path(@product,review.id), method: :delete %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>


        <% if current_admin %>
        <%= link_to"編集", edit_admin_product_path(@product), class:"btn btn-primary" %>
        <% end %>
        <%= link_to "戻る", root_path, class:"btn btn-info" %>
      </div>
    </div>
  </div>
</div>
