<h1>CD詳細</h1>

<div class = "item" >
  <div class = "product-image" >
    <%= attachment_image_tag @product, :image %>
  </div>
  <div class = "product-info" >
  	<table class="table">
    <tr>
        <th></th>
        <th></th>
    </tr>

        <tr>
        	<td> カテゴリー </td>
        	<td> <% @product.categories.each do |product| %>
            <%= product.category_name %>
            <% end %> </td>
      	 </tr>
        <tr>
          <td> アーティスト </td>
          <td> <%= @product.artist.artist_name %> </td>
        </tr>

        <tr>
          <td> シングル・アルバム名 </td>
          <td> <%= @product.title %> </td>
        </tr>
        <tr>
          <td> レーベル名 </td>
          <td> <%= @product.label %> </td>
        </tr>
        <tr>
          <td> 発売日 </td>
          <td> <%= @product.release %> </td>
        </tr>
        <tr>
          <td> 値段 </td>
          <td> <%= @product.price %> </td>
        </tr>
        <tr>
          <td> 在庫数 </td>
          <td> <%= @product.stock %> </td>
        </tr>
    
        <tr>
          <td> 個数 </td>
          <td> <%= form_for @product do |f| %>
 				 <%= f.number_field :stock %>
				 </td>
        </tr>
        <tr>
            <% end %>
          </td>
          <td></td>
        </tr>
    </table>
  </div>
</div>


<table class="table">
　　　　　<tr>
		    <th> 商品詳細 </th>
		    <th> 曲名一覧 </th>
		    <th> アーティスト </th>
		    <th> 商品説明 </th>
	     </tr>

	     <tr>
        <th></th>
        <th>
        <p><% @discs.each do |disc| %>
         <%= disc.disc_name %>
         </p>

        <p>
          <% disc.tracks.each do |track| %>
         <%= track.music %>
       </p>

         <% end %>
         <br>
         <% end %>
         </th>
		    <th> <%= @product.artist.artist_name %> </th>
		    <th> <%= @product.introduction %> </th>
	     </tr>
</table>


 <%= link_to "戻る", :back, class: "back" %>
