<% if flash[:alert] %>
<div class="alert alert-danger">
  <%= flash[:alert] %>
</div>
<% end %>

<h1>CD詳細</h1>
<%if current_user %>
  <% if @product.favorited_by?(current_user) %>
      <%= link_to product_favorites_path(@product), method: :delete, class: "glyphicon btn btn-danger" do %>
        <p>お気に入りしてます</p>
      <% end %>
  <% else %>
      <%= link_to product_favorites_path(@product), method: :post, class: "glyphicon btn btn-default" do %>
        <p>お気に入りしてね</p>
      <% end %>
  <% end %>
<%end%>


<div class = "item" >
  <div class = "product-image" >
    <%= attachment_image_tag @product, :image, fallback: "no_image.jpg", size: '300x300' %>
  </div>
  <div class = "product-info" >
  	<table class="table">
    <tr>
        <th>CD概要</th>
    </tr>
        <tr>
        	<td><p>カテゴリー</p></td>
        	<td>
            <% @product.categories.each do |product| %>
              <%= link_to category_path(@product.category_ids) do  %>
                <%= product.category_name %>
              <% end %>
            <% end %>
          </td>
      	 </tr>
        <tr>
          <td><P>アーティスト</P></td>
          <td>
            <%= link_to artist_path do %>
            <%= @product.artist.artist_name %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><p>シングル・アルバム名</p></td>
          <td>
            <%= @product.title %>
          </td>
        </tr>
        <tr>
          <td><p>レーベル名</p></td>
          <td>
            <%= @product.label %>
          </td>
        </tr>
        <tr>
          <td><p>発売日</p></td>
          <td>
            <%= @product.release %>
          </td>
        </tr>
        <tr>
          <td><p>値段</p></td>
          <td>
            <%= @product.price %>
          </td>
        </tr>
        <tr>
          <td><p>在庫数</p></td>
          <td>
            <% if current_admin %>
            <%= @product.stock %>
            <% elsif @product.stock == 0 then %>
             <p>在庫なし</p>
            <% else %>
             <p>在庫あり</p>
            <% end %>
          </td>
        </tr>
    </table>

         <% if current_user %>
            <%= form_for(@product, url: cart_add_item_path(@product.id), html: {method: "post"}) do |f| %>
              <p>購入個数:</p>
              <%= f.number_field :stock, required:true, min:'1', max:'product.stock', :value => "1"  %>
              <%= f.submit "カートに入れる" %>

            <% end %>
        <% end %>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>
        <p>収録曲</p>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% @discs.each do |disc| %>
        <ul>
          <li class="disc_name">
              <%= disc.disc_name %>
          </li>
        </ul>
        <% disc.tracks.each do |track| %>
        <li>
          <%= track.music %>
        </li>
        <% end %>
       <br>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<table class="table">
  <tr>
    <th>
      <p>商品紹介</p>
    </th>
  <tr>
    <td>
      <%= @product.introduction %>
    </td>
  </tr>
</table>

<p>レビュー</p>
<%= form_for [@product, @review] do |f| %>
<%= f.text_field :text, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
<%= f.submit "送信する" %>
<% end %>

<% @product.reviews.each do |review| %>
<%= review.user.name %>
<%= review.created_at.strftime('%Y/%m/%d') %>
<%= review.text %>
<% end %><br>


<% if current_admin %>
  <%= link_to"編集", edit_admin_product_path(@product) %>
<% end %>
 <%= link_to "戻る", :back, class: "back" %>
