<h1>CD詳細</h1>

<li class = "item" >
  <div class = "product-image" >
    <%= attachment_image_tag @product, :image %>
  </div>
  <div class = "product-info" >
  	<table class="table">
    <tr>
        <th></th>
        <th></th>
    </tr>

        <tr>
        	<td> フリガナ </td>
        	<td> <%= product.category_id %> </td>
      	 </tr>
        <tr>
          <td>  </td>
          <td> <%= @user.name %> </td>
        </tr>

        <tr>
          <td> 郵便番号 </td>
          <td> <%= @user.post_code %> </td>
        </tr>
        <tr>
          <td> 郵便番号 </td>
          <td> <%= @user.post_code %> </td>
        </tr>
        <tr>
          <td> 郵便番号 </td>
          <td> <%= @user.post_code %> </td>
        </tr>
        <tr>
          <td> 郵便番号 </td>
          <td> <%= @user.post_code %> </td>
        </tr>
        <tr>
          <td> 郵便番号 </td>
          <td> <%= @user.post_code %> </td>
        </tr>

    <li> <%= product.category_id %> </li>
    <li> <%= product.artist_id %> </li>
    <li> <%= product.title %> </li>
    <li> <%= product.label %> </li>
    <li> <%= product.release %> </li>
    <li> <%= roduct.price %> </li>
    <li> <%= product.stock %> </li>
    <li> <%= link_to "お気に入り", product_favorites_path, method: :post %> </li>
	<li> 個数
<%= form_for @user do |f| %>
  <%= f.label :prefecture_id %>
  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
<%- end -%>
</p>
<%= link_to "カートに入れる", cart_path(cart.id) %>
  </div>
</li>



<table class="table">
　　　　　<tr>
		    <th> 詳細 </th>
		    <th> 曲名一覧 </th>
		    <th> アーティスト </th>
		    <th> 商品説明 </th>
	     </tr>

	     <tr>
		    <th> </th>
		    <th> product.disc.track </th>
		    <th> product.artist_id </th>
		    <th> product.introduction </th>
	     </tr>
</table>


<h2>レビュー</h2>

<%= form_for @review do |f| %>
<%= f.text_field :text, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
<% end %>

 <% product.product_id.review.each do |review| %>
 <%= post_comment.created_at.strftime('%Y/%m/%d') %>
 <%= post_comment.comment %>
 <% end %>

 <h3>関連情報</h3>

 <%= link_to "戻る", books_path, class: "back" %>
