<h1>CD詳細</h1>

<li class = "item" >
  <div class = "product-image" >
    <%= attachment_image_tag @product, :image %>
  </div>
  <div class = "product-info" >
  	<table class="table">
    <tr>
        <th></th>
        <th></th>
    </tr>

        <tr>
        	<td> カテゴリー </td>
        	<td> <%= @product.category_id %> </td>
      	 </tr>
        <tr>
          <td> アーティスト </td>
          <td> <%= @product.artist_id %> </td>
        </tr>

        <tr>
          <td> シングル・アルバム名 </td>
          <td> <%= @product.title %> </td>
        </tr>
        <tr>
          <td> レーベル名 </td>
          <td> <%= @product.label %> </td>
        </tr>
        <tr>
          <td> 発売日 </td>
          <td> <%= @product.release %> </td>
        </tr>
        <tr>
          <td> 値段 </td>
          <td> <%= @product.price %> </td>
        </tr>
        <tr>
          <td> 在庫数 </td>
          <td> <%= @product.stock %> </td>
        </tr>
        <tr>
          <td> お気に入り </td>
          <td> <%= link_to "お気に入り", product_favorites_path, method: :post %> </td>
        </tr>
        <tr>
          <td> 個数 </td>
          <td> <%= form_for @product do |f| %>
 				 <%= f.number_field :product, :stock %>
				 </td>
        </tr>
        <tr>
          <td> <%= f.submit 'カートに入れる' %>
            <% end %>
          </td>
          <td></td>
        </tr>
    </table>
  </div>
</li>



<table class="table">
　　　　　<tr>
		    <th> 詳細 </th>
		    <th> 曲名一覧 </th>
		    <th> アーティスト </th>
		    <th> 商品説明 </th>
	     </tr>

	     <tr>
		    <th> </th>
		    <th> <%= @product.disc.track %> </th>
		    <th> <%= @product.artist_id %> </th>
		    <th> <%= @product.introduction %> </th>
	     </tr>
</table>


<h2>レビュー(仮)</h2>

<%= form_for @review do |f| %>
<%= f.text_field :text, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
<% end %>

 <% product.product_id.review.each do |review| %>
 <%= product.review.created_at.strftime('%Y/%m/%d') %>
 <%= product.review %>
 <% end %>

 <h3>関連情報(仮)</h3>

 <%= link_to "戻る", books_path, class: "back" %>
