<% if flash[:notice] %>
<div class="alert alert-success">
	<%= flash[:notice] %>
</div>
<% end %>

<div class = "container" >
	<div class = "row" >
		<div class="col-xs-offset-3 col-lg-6" >

			<h3>お問い合わせフォーム</h3>

			<%= form_for(@message) do |f| %>

			<h4>名前</h4>
			<%= f.text_field :name %>

			<h4>メールアドレス</h4>
			<%= f.email_field :mail %>

			<h4>お問い合わせ内容</h4>
			<%= f.text_area :text %><br>

			<div style = "padding-top: 30px;" >
				<%= f.submit "送信", class:"btn btn-primary" %>
				<% end %>
				<%= link_to "戻る", root_path, class:"btn btn-info" %>
			</div>
		</div>
	</div>
</div>
