<div>
	<h2>アーティスト新規登録</h2>
	<%= form_for(artist_new) do |f| %>
	 <% if artist_new.errors.any? %>
      <div id="error_explanation">
       <h3><%= artist_new.errors.count %>件のエラーが発生しました。</h3>
        <ul>
         <% artist_new.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
        </ul>
      </div>
     <% end %>
	<p>アーティスト名</p>
	<%= f.text_field :artist_name %>
	<p></p>
	<%= f.submit '追加' %>
	<% end %>
</div>
<p></p>
<%= link_to "商品追加", admin_user_path(current_admin.id), class: "btn btn-danger" %>
<%= link_to "カテゴリー追加", new_category_path, class: "btn btn-danger" %>
<%= link_to "アニメタイトル追加", animes_path, class: "btn btn-danger" %>
<p></p>