<div>
	<h2>アーティスト編集</h2>
	<%= form_for(@artist_edit) do |f| %>
	<% if @artist_edit.errors.any? %>
      <div id="error_explanation">
       <h3><%= @artist_edit.errors.count %>件のエラーが発生しました。</h3>
        <ul>
         <% @artist_edit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
        </ul>
      </div>
     <% end %>
	<p>アーティスト名</p>
	<%= f.text_field :artist_name %>
	<p></p>
	<%= f.submit '編集' %>
	<% end %>
</div>