<div class = "container-fluid" >
  <div class="bg-image">
  <div class = "bg-mask" >
  <div class = "row" >
    <div class ="sign" >
      <h3>ログイン</h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :記入情報を記憶させますか %>
      </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
      <% end %>

      <%= link_to "会員登録", new_registration_path(resource_name) %><br>
      <%= link_to "パスワードを忘れましたか?", new_password_path(resource_name) %>
    </div>

      </div>
    </div>
  </div>
</div>


