<h2>決済画面</h2>
<table class="table">
		  <tr>
		    <th> <p>商品情報</p> </th>
		    <th> </th>
		    <th> <p>個数</p> </th>
		    <th> <p>小計</p> </th>
		    <th> </th>
		  </tr>
    　<% sum1 = 0 %>
 　　　<% cart = Cart.where(user_id: current_user.id).last %>
	　　<% cart.cart_items.each do |cart_item| %>
		  <tr>
		  	<td> <%= attachment_image_tag cart_item.product, :image, size: '100x100' %> </td>
		  	<td><ul>
               <li>タイトル</li>
               <li><%= cart_item.product.title %></li>
		  	       <li>アーティスト</li>
               <li><%= cart_item.product.artist.artist_name %></li>
             </ul>
        </td>
        <td> <%= cart_item.quantity %> </td>
        <td> <%= cart_item.product.price * cart_item.quantity %> </td>
             <% sum1  = sum1 + cart_item.product.price * cart_item.quantity %>
      </tr>
    <% end %>
    <tr>

            <td> </td>
            <td> <p>合計</p></td>
            <td> <%= cart.cart_items.sum(:quantity) %> </td>
            <td> <%= sum1 %> </td>
          </tr>
</table>
<div class="container">
    <div class="row">
      <div class="col-xs-10">
      </div>
      <div class="col-xs-2">
<table class="table">
     <tr>
      <th>送料</th>
      <th>300 円</th>
</table>
<table class="table">
     <tr>
      <th>手数料</th>
      <th>100 円</th>
    </tr>
</table>
<table class="table">
     <tr>
      <th><h4>合計</h4></th>
      <th><% sum2 = 0 %>
        <h4><%= sum2 = sum2 + sum1 + 300 + 100 %> 円</h4></th>
    </tr>
</table>
</div>
</div>

<div class="row">
  <div class="col-xs-offset-3 col-md-6">
   <div class="user-info">
    <h3>購入者情報</h3>
     <p>お名前　　　　　<%= current_user.name %></p>
     <p>郵便番号　　　　　〒<%= current_user.post_code %></p>
     <p>お届け先住所　　
          <%= current_user.address %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-3 col-md-6">
    <div class="btn-wrapper">
      <%= link_to "購入する", histories_path(@history), method: :post, class:"btn-lg btn-danger" %>
    </div>
  </div>
</div>