<h1>購入履歴</h1>
<table class="table table-striped">
	<tr>
		<th>購入者</th>
		<th>購入日</th>
		<th>購入内容</th>
		<th>購入価格総計</th>
		<th>送付先</th>
	</tr>
	<tr>
    <% @user.carts.each do |cart| %>
    <% cart.histories.each do |history| %>
		<td><%= history.user_name %></td>
		<td><%= history.created_at.strftime('%Y年%m月%d日') %></td>

		<td><% history.cart.cart_items.each do |cart_item| %>
			   <%= cart_item.product.title %><br>
			   <%= cart_item.quantity %>枚<br>
			   <%= cart_item.product.price * cart_item.quantity %>円<br>
			<% end %>
		</td>

		<td><%= history.price_history %></td>
		<td><%= history.post_code_history %>
			<%= history.prefecture_history %>
			<%= history.post_address_history %>
		</td>
	</tr>
<% end %>
<% end %>
</table>
<%= link_to "戻る", :back, class:"btn btn-info" %>

