<div class="conteiner">
  <div class="row">
    <%= render 'top/category', categories: @categories, artists: @artists %>
    <% @favariteproducts.each do |product| %>
      <div class="col-xs-4 col-md-2">
        <div class="thumbnail">
          <div class="productbox">
            <div class = "product-image" >
                <%= link_to product_path(product.id) do %>
                  <%= attachment_image_tag product, :image %>
                <% end %>
            </div>
            <div class = "product-info" >
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <ul>
                      <li>シングル・アルバム名</li>
                      <li>
                        <%= link_to product_path(product.id) do %>
                          <%= product.title %>
                        <% end %>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <ul>
                      <li>カテゴリー</li>
                      <li>
                        <% product.categories.each do |cate| %>
                          <%= link_to category_path(cate.id) do  %>
                            <%= cate.category_name %>
                          <% end %>
                        <% end %>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <table>
              <thead>
                  <tr>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <ul>
                        <li>アーティスト</li>
                        <li>
                          <%= link_to artist_path(product.artist.id) do  %>
                            <%= product.artist.artist_name %>
                          <% end %>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
            </table>
            <ul>
              <li>
                ¥<%= product.price %>
              </li>
              <li>
                <% if product.stock == 0 then %>
                  <p>在庫なし</p>
                <% else %>
                  <p>在庫あり</p>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
