<table class="table">
		  <tr>
		    <th> 商品情報 </th>
		    <th> </th>
		    <th> 個数 </th>
		    <th> 小計 </th>
		    <th> </th>
		  </tr>
	<% product.each do |f| %>
		  <tr>
		  	<td> <%= attachment_image_tag @user, :image %> </td>
		  	<td> <%= cart_item.product.title %> <br>
		  	     <%= product.artist_id %> </td>
            <td> <%= product.quantity %> </td>
            <td> <%= product.price %> </td>
            <td> <%= link_to "削除", path, method: :delete %> </td>

          <tr>
    <% end %>
          	<td> </td>
          	<td> 合計 </td>
          	<td> <%= quantity %> </td>
          	<td> <%= product.price %> </td>
          	<td>  </td>
</table>

<%= link_to "注文へ進む", payments_path %>