<table class="table">
		  <tr>
		    <th> <p>商品情報</p> </th>
		    <th> </th>
		    <th> <p>個数</p> </th>
		    <th> <p>小計</p> </th>
		    <th> </th>
		  </tr>
    <% sum = 0 %>
	<% current_user.cart.cart_items.each do |cart_item| %>
		  <tr>
		  	<td> <%= attachment_image_tag cart_item.product, :image %> </td>
		  	<td> <%= cart_item.product.title %> <br>
		  	     <%= cart_item.product.artist.artist_name %> </td>
            <td> <%= cart_item.quantity %> </td>
            <td> <%= cart_item.product.price * cart_item.quantity %> </td>
            <td> <%= link_to "削除", cart_delete_item_path(current_user.cart.id,cart_item.id), method: :delete %> </td>
            <% sum  = sum + cart_item.product.price * cart_item.quantity %>
          <tr>
    <% end %>
    
          	<td> </td>
          	<td> <p>合計</p></td>
          	<td> <%= current_user.cart.cart_items.sum(:quantity) %> </td>
          	<td> <%= sum %> </td>
</table>

<% if @cart_items.cart_id == current_user.cart.id %>
<%= link_to "注文へ進む", payment_path %>

<% end %>
