<table class="table">
		  <tr>
		    <th> 商品情報 </th>
		    <th> </th>
		    <th> 個数 </th>
		    <th> 小計 </th>
		    <th> </th>
		  </tr>
	
		  <tr>
		  	<td> <%= attachment_image_tag @cart_item.product, :image %> </td>
		  	<td> <%= @cart_item.product.title %> <br>
		  	     <%= @cart_item.product.artist.artist_name %> </td>
            <td> <%= @cart_item.quantity %> </td>
            <td> <%= @cart_item.product.price*@cart_item.quantity %> </td>
            <td> <%= link_to "削除", delete_item_path, method: :delete %> </td>
          <tr>
    
          	<td> </td>
          	<td> 合計 </td>
          	<td> <%= @cart_item.product.sum(:quantity) %> </td>
          	<td> <%= Cart_item.sum(:product.price) %> </td>
          	<td>  </td>
</table>

<% if @cart.user_id == current_user %>
<%= link_to "注文へ進む", payments_path %>
<% end %>