<h2>決済画面</h2>

<table class="table">
		  <tr>
		    <th> <p>商品情報</p> </th>
		    <th> </th>
		    <th> <p>個数</p> </th>
		    <th> <p>小計</p> </th>
		    <th> </th>
		  </tr>
    <% sum1 = 0 %>
  <% cart = Cart.where(user_id: current_user.id).last %>
	<% cart.cart_items.each do |cart_item| %>
		  <tr>
		  	<td> <%= attachment_image_tag cart_item.product, :image, fallback: "no_image.jpg", size: '200x200' %> </td>
		  	<td> <%= cart_item.product.title %> <br>
		  	     <%= cart_item.product.artist.artist_name %> </td>
            <td> <%= cart_item.quantity %> </td>
            <td> <%= cart_item.product.price * cart_item.quantity %> </td>
            <% sum1  = sum1 + cart_item.product.price * cart_item.quantity %>
          <tr>
    <% end %>
</table>
     <% sum2 = 0 %>
            <p>送料</p><br>
            <p>300</p><br>
            <p>手数料</p><br>
            <p>100</p><br>
          	<p> </p>
          	<p>合計
                <%= sum2 = sum2 + sum1 + 300 + 100 %></p><br><br>


    <p>郵便番号
        <%= current_user.post.post_code %></p><br>
    <p>お届け先住所
       <%= current_user.prefecture.prefecture %>
        <%= current_user.post.post_address %></p><br>
   <p>名前
       <%= current_user.name %></p>

<%= link_to "購入する", histories_path(@history), method: :post %>
