<h2>決済画面</h2>

<table class="table">
		  <tr>
		    <th> <p>商品情報</p> </th>
		    <th> </th>
		    <th> <p>個数</p> </th>
		    <th> <p>小計</p> </th>
		    <th> </th>
		  </tr>
    <% sum1 = 0 %>
	<% current_user.cart.cart_items.each do |cart_item| %>
		  <tr>
		  	<td> <%= attachment_image_tag cart_item.product, :image %> </td>
		  	<td> <%= cart_item.product.title %> <br>
		  	     <%= cart_item.product.artist.artist_name %> </td>
            <td> <%= cart_item.quantity %> </td>
            <td> <%= cart_item.product.price * cart_item.quantity %> </td>
            <% sum1  = sum1 + cart_item.product.price * cart_item.quantity %>
          <tr>
    <% end %>
</table>
     <% sum2 = 0 %>
            <td>送料</td><br>
            <td>300</td><br>
            <td>手数料</td><br>
            <td>100</td><br>
          	<td> </td>
          	<td>合計
                <%= sum2 = sum2 + sum1 + 300 + 100 %></td>

<div>購入</div>