<h1>商品一覧</h1>
<% @products.each do |product| %>

 <li class = "item" >

  <div class = "product-image" >
      <%= attachment_image_tag product, :image %>
  </div>


  <div class = "product-info" >
      <li> <%= product.title %> </li>
      <li> <%= product.artist.artist_name %> </li>
      <li> <%= product.price %> </li>
  </div>

    <li><%= link_to "詳細", admin_product_path(product.id) %>
        <%= link_to "削除", admin_product_path(product.id), method: :delete %>
    </li>
 </li>
<% end %>

       <%= link_to "戻る", :back %>

