<h1>商品一覧</h1>
<% @products.each do |product| %>

 <div class = "item" >

  <div class = "product-image" >
      <%= link_to product_path(product.id) do %>
      <%= attachment_image_tag product, :image, fallback: "no_image.jpg", size: '200x200' %>
      <% end %>
  </div>


  <div class = "product-info" >
      <ul>
      <li> <%= product.title %> </li>
      <li> <%= product.artist.artist_name %> </li>
      <li> <%= product.price %> </li>
  

    <li><%= link_to "詳細", product_path(product), class:"btn-sm btn-success" %>
        <%= link_to "削除", data: { confirm: "本当にけしますか?"},  admin_product_path(product), method: :delete, class:"btn-sm btn-danger" %>
    </li>
  </ul>
</div>
 </div>
<% end %>

       <%= link_to "戻る", :back %>

