 <div class="bg-image">
  <div class = "bg-mask" >
    <div class = "container" >
	<div class = "row" >
        <div class ="edit">
		<h3>お届け先住所登録</h3>
            <%= form_for(@post) do |f| %>
            <p>郵便番号</p>
            <%= f.text_field :post_code %>

            <p>住所</p>

           <!--  <p>都道府県</p>
            <%= f.select :prefecture_id, Prefecture.all.collect { |p| [ p.prefecture, p.id ] } %><br>  -->
            <%= f.text_area :post_address %><br>

            <div style = "padding-top: 30px;" >

                <%= f.submit "登録", class:"btn btn-primary" %>

                <% end %>

                <%= link_to "戻る", :back, class: "btn btn-info" %>
            </div>
        </div>
    </div>
</div>
</div>
</div>

