<div>
	<h2>カテゴリー編集</h2>
	<%= form_for(@category_edit) do |f| %>
	<% if @category_edit.errors.any? %>
      <div id="error_explanation">
       <h3><%= @category_edit.errors.count %>件のエラーが発生しました。</h3>
        <ul>
         <% @category_edit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
         <% end %>
        </ul>
      </div>
     <% end %>
	<p>カテゴリー名</p>
	<%= f.text_field :category_name %>
	<p></p>
	<%= f.submit '編集' %>
	<% end %>
</div>