<div class="conteiner">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'top/category', categories: @categories, artists: @artists %>
    </div>

    <div class="col-lg-10">
          <% @products.each do |product| %>

      <div class="thumbnail">
        <div class="productbox">
          <div class = "product-image" >
            <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag product, :image, :fill, 100, 100, fallback: "no_image.jpg", size: '200x200' %>
            <% end %>
          </div>
          <div class="product-info" >
            <ul>
             <li> <%= link_to product_path(product.id) do %>
              <%= product.title %>
              <% end %>
            </li>

            <li>
              <% product.categories.each do |cate| %>
              <%= link_to category_path(cate.id) do  %>
              <%= cate.category_name %>
              <% end %>
              <% end %>
            </li>

            <li>
              <%= link_to artist_path(product.artist.id) do  %>
              <%= product.artist.artist_name %>
              <% end %>
            </li>

            <li>
             ¥<%= product.price %>
           </li>

           <li>
            <% if product.stock == 0 then %>
            <p>在庫なし</p>
            <% else %>
            <p>在庫あり</p>
            <% end %>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <% end %>
   <%= paginate @products, class: "pagenate" %>

  </div>
</div>
