<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.label :ディスク名 %>
    <%= f.text_field :disc_name %><br>
    <%= link_to_remove_association "ディスクを削除", f %>
  </div>

  <div class="tracks">
    <%= f.fields_for :tracks do |track| %>
      <%= render 'track_fields', f: track %>
    <%end%>
    <div class="links">
      <%= link_to_add_association "曲を追加", f, :tracks %>
    </div>
  </div>
</div>