<div>
	<h2>新規追加</h2>
	<%= form_for(@product_new) do |f|%>
	<p>ジャケット画像</p>
	<%= f.attachment_field :image, placeholder: "ジャケット画像" %>
	<p>シングル・アルバム名</p>
	<%= f.text_field :title %>
	<p>アーティスト名</p>
	<%= f.select :artist_id, Artist.all.map{|u| [u.artist_name, u.id]}, include_blank: true %>
	<p>カテゴリー</p>
	<%= f.collection_check_boxes(:category_id, Category.all, :id, :name) do |b| %>
		<%= b.label { b.check_box + b.text } %>
	<% end %>
	<p>Disk数</p>

	<p>曲名</p>

	<p>レーベル名</p>
	<%= f.text_field :label %>
	<p>発売日</p>
	<%= f.date_select :release %>
	<p>値段</p>
	<%= f.text_field :price%>
	<p>商品説明</p>
	<%= f.text_area :introduction %>
	<p>在庫数</p>
	<%= f.text_field :stock %>
	<%= f.submit '追加' %>
	<% end %>
</div>
