<div class="user-edit-container">

<h2>User情報の編集</h2>

<%= form_for(@user) do |f| %>

<h4>フリガナ</h4>
<%= f.text_field :name_kana %>

<h4>名前</h4>
<%= f.text_field :name %>

<h4>郵便番号</h4>
<%= f.text_field :post_code %>

<h4>住所</h4>
<%= f.text_area :address %>

<h4>お届け先住所</h4>
<%= f.text_area :post_code %>

<h4>電話番号</h4>
<%= f.telephone_field :phone %>

<h4>メールアドレス</h4>
<%= f.email_field :email %>


<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit "更新", class:"btn btn-primary" %><br>
<%= link_to "戻る", user_path, class: "back" %>

<% end %>

</div>
