<table class="table">
    <tr>
        <th> User情報</th>
        <th></th>
    </tr>

        <tr>
        	<td> フリガナ </td>
        	<td> <%= @user.name_kana %> </td>
      	 </tr>

        <tr>
          <td> 名前 </td>
          <td> <%= @user.name %> </td>
        </tr>

        <tr>
          <td> 郵便番号 </td>
          <td> <%= @user.post_code %> </td>
        </tr>

        <tr>
          <td> 住所 </td>
          <td> <%= @user.address %> </td>
        </tr>

        <tr>
          <td> 電話番号 </td>
          <td> <%= @user.phone %> </td>
         </tr>

        <tr>
          <td> メールアドレス </td>
          <td> <%= @user.email %> </td>
        </tr>

    </table>

    <%= link_to "編集", edit_user_path(@user) %>

<h3>購入履歴</h3>
<li class = "item" >
  <div class = "product-image" >
    <%= attachment_image_tag @product, :image %>
  </div>
  <div class = "product-info" >
    <li> <%= buy_date %> </li>
    <li> <%= @product.title %> </li>
    <li> <%= @product.artist_id %> </li>
    <li> <%= @cart_item.quantity %> </li>
    <li> <%= @product.price*product.quantity %> </li>
  </div>
</li>

       <%= link_to "退会", root_path %>
       <%= link_to "戻る", :back %>
