<!DOCTYPE html>
<html>
  <head>
    <title>Tomato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-top">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <%= link_to "トマトプリズム", root_path, class: "header_logo" %>
        </nav>
        <nav class="nav-list">
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed_in? %>
              <li>
                <%=link_to "管理者",admin_user_path(current_admin) %>
              </li>
              <li>
                <%=link_to "User一覧",admin_users_path %>
              </li>
              <li>
                <%=link_to "商品一覧",admin_products_path %>
              </li>
              <li>
                <%=link_to "ログアウト",destroy_admin_session_path, method: :delete %>
              </li>
            <% elsif user_signed_in? %>
              <li>
                <%=link_to "マイページ",user_path(current_user) %>
              </li>
              <li>
                <%=link_to "カート",cart_path(current_user) %>
              </li>
              <li>
                <%=link_to "お気に入り",root_path %>
              </li>
              <li>
                <%=link_to "ログアウト",destroy_user_session_path, method: :delete %>
              </li>
              <li>
                  <p>検索</p>
              </li>
            <% else %>
              <li>
                <%= link_to"新規登録", new_user_registration_path %>
              </li>
              <li>
                <%= link_to"ログイン", new_user_session_path %>
              </li>
              <li>
                <p>検索</p>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>©️2018 All right Reserved</p>
            <%= link_to "お問い合わせ", new_message_path %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
