<!DOCTYPE html>
<html>
  <head>
    <title>Tomato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track':'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track':'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
  </head>
  <body>
    <header class="navbar navbar-top">
      <div class="container">
        <div class="row">
          <nav class="nav navbar-nav navbar-left">
            <%= link_to root_path, class: "header_logo" do %>
            <%= image_tag("/images/logo.png", :size => "150x50", :alt => "logo") %>
            <% end %>
          </nav>
          <nav class="header_nav nav-list">
            <ul class="nav navbar-nav navbar-right" style="color: black;">
              <% if admin_signed_in? %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">商品追加<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                      <%=link_to "商品追加",admin_user_path(current_admin) %></li>
                    <li role="presentation">
                      <%= link_to "カテゴリー追加", new_category_path %>
                    </li>
                    <li role="presentation">
                      <%= link_to "アーティスト追加", artists_path%>
                    </li>
                    <li role="presentation">
                      <%= link_to "アニメタイトル追加", animes_path%>
                    </li>
                  </ul>
                </li>
                <li>
                  <%=link_to "User一覧",admin_users_path %>
                </li>
                <li>
                  <%=link_to "商品一覧",admin_products_path %>
                </li>
                <li>
                  <%= link_to "受注一覧",histories_path %>
                <li>
                  <%= link_to "お問い合わせ一覧",histories_path %>
                <li>
                  <%=link_to "ログアウト",destroy_admin_session_path, method: :delete %>
                </li>
              <% elsif user_signed_in? %>
                <li>
                  <%=link_to "マイページ",user_path(current_user) %>
                </li>
                <li>
                  <% if Cart.where(user_id: current_user.id).exists? %>
                  <%= link_to cart_path(current_user.carts.where(user_id: current_user.id).last) do %>
                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                  <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to favorites_path do %>
                  <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                  <% end %>
                </li>
                <li>
                  <%= link_to "お問い合わせ", new_message_path %>
                </li>
                <li>
                  <%=link_to "ログアウト",destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to"新規登録", new_user_registration_path %>
                </li>
                <li>
                  <%= link_to"ログイン", new_user_session_path %>
                </li>
                <li>
                <%= link_to "お問い合わせ", new_message_path %>
              </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
    <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>">
            <div class="container">
              <%= value %>
            </div>
          </div>
        <% end %>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>©️2018 All right Reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>