<!DOCTYPE html>
<html>
  <head>
    <title>Tomato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-top">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h1>トマトプリズム</h1>
        </nav>
        <nav class="nav-list">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="glyphicon glyphicon-log-in sin_in">ログイン</p>
            </li>
            <li>
              <p class="glyphicon glyphicon-edit sin_up">サインアップ</p>
            </li>
            <li>
              <p class="glyphicon glyphicon-search seach">検索</p>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>©️2018 All right Reserved</p>
            <p>お問い合わせ</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
